<div class="modal-dialog modal-lg" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">添加社团事项</h4>
        </div>
        <small class="font-bold">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form id="add-matter-form" method="post" class="form-horizontal"
                                      th:action="@{/admin/clubMatter/add}">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">社团名称<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly th:value="${clubName}"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">事项名称<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="name" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">事项日期<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="matterDateStr" class="form-control date-pick"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">事项内容<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-10">
                                            <textarea name="content" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">确定新增</button>
                                            <button class="btn btn-white" type="button" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
</div>
<script>
    $(function () {
        //表单验证
        $("#add-matter-form").validate({
            rules: {
                name: "required",
                matterDateStr: "required",
                content: "required"
            }, messages: {
                name: "请输入事项名称",
                matterDateStr: "请输入日期",
                content: "请输入事项内容"
            },
            onfocusout: false
        });

        //日期选择
        $(".date-pick").each(function () {
            laydate.render({
                elem: this,
                trigger: 'click',
            });
        });

    });
</script>