<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>社团事项列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                        <span class="input-group-btn">
                        <input type="button" class="btn btn-success" data-toggle="modal"
                               th:disabled="${!canAdd}"
                               data-target="#matterModal"
                               onclick="openModal('/admin/clubMatter/toAdd','matterModal')"
                               value="添加社团事项"/>
                        </span>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                    <div class="table table-bordered table-hover">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>日期</th>
                                <th>内容</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="matter:${matterList}">
                                <td th:text="${matterStat.index+1}"></td>
                                <td th:text="${matter.name}"></td>
                                <td th:text="${matter.matterDate}"></td>
                                <td th:text="${matter.content}"></td>
                                <td>
                                    <a class="btn btn-danger"
                                       onclick="return confirm('确定删除吗？')"
                                       th:href="@{/admin/clubMatter/remove(matterId=${matter.id})}">
                                        删除
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="matterModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>