<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>社团收支列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                        <span class="input-group-btn">
                        <input type="button" class="btn btn-success" data-toggle="modal"
                               th:disabled="${!canAdd}"
                               data-target="#flowModal"
                               onclick="openModal('/admin/clubFlow/toAdd','flowModal')"
                               value="添加社团收支"/>
                        </span>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                    <div class="table table-bordered table-hover">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>收支类型</th>
                                <th>金额</th>
                                <th>日期</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="flow:${flowList}">
                                <td th:text="${flowStat.index+1}"></td>
                                <td>
                                    <span class="label" th:classappend="${flow.flowType.label}"
                                          th:text="${flow.flowType.displayName}"></span>
                                </td>
                                <td th:text="${flow.amount}"></td>
                                <td th:text="${flow.flowDate}"></td>
                                <td th:text="${flow.remark}"></td>
                                <td>
                                    <a class="btn btn-danger"
                                       onclick="return confirm('确定删除吗？')"
                                       th:href="@{/admin/clubFlow/remove(flowId=${flow.id})}">
                                        删除
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="flowModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>