<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>待审核的入社申请</h5>
                </div>
                <div class="ibox-content">
                    <div class="table table-bordered table-hover">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>申请人</th>
                                <th>申请加入社团</th>
                                <th>申请状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="apply:${applyList}">
                                <td th:text="${applyStat.index+1}"></td>
                                <td th:text="${apply.applyUser.name}"></td>
                                <td th:text="${apply.club.name}"></td>
                                <td>
                                    <span class="label" th:classappend="${apply.applyStatus.label}"
                                          th:text="${apply.applyStatus.displayName}"></span>
                                </td>
                                <td>
                                    <button data-toggle="modal" class="btn btn-sm btn-primary"
                                            data-target="#joinApplyModal"
                                            th:onclick="'openModal(\'/admin/joinApply/toApprove?applyId='+${apply.id}+'\',\'joinApplyModal\')'">
                                        审核
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="joinApplyModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>