<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>欢迎登陆</h1>
<h2 th:if="${currentUser.role.name()=='ROLE_CLUB_MANAGER' && currentUser.club == null}">
    您还未管理任何社团
</h2>
<h2 th:if="${currentUser.role.name()=='ROLE_CLUB_MANAGER' && currentUser.club != null}">
    您管理的社团为：<span class="text-danger" th:text="${currentUser.club.name}"></span>
</h2>
<h2 th:if="${currentUser.role.name()=='ROLE_CLUB_MEMBER' && currentUser.club == null}">
    您还未参加任何社团
</h2>
<h2 th:if="${currentUser.role.name()=='ROLE_CLUB_MEMBER' && currentUser.club != null}">
    您已成功加入社团：<span class="text-danger" th:text="${currentUser.club.name}"></span>
</h2>
</body>
</html>